.btn {
  text-decoration: none;
  width: fit-content;
  color: #000;
  font-size: 14px;
  line-height: 18px;
  padding: 8px 16px;
  border: 1px solid #333333;
  box-sizing: border-box;

  border-radius: 6px;
}
