.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 42px 50px 40px 50px;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
}

.links {
  a {
    margin-left: 40px;
    text-decoration: none;
    color: var(--color-gray2);
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
  }
}
